section {
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 2rem;
}

#screen {
  width: 550px;
  margin: 0 auto;
}

.gameScreen {
  display: none;
  border: 8px solid #ff5da8;
}

@media (min-width: 1024px) {
  section {
    margin-top: 130px;
  }

  h2 {
    width: 100%;
    margin-bottom: 30px;
  }

  .gameScreen {
    display: initial;
  }
}
